<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.naqi.myapp"
        versionCode = "1" 
        version     = "1.0.0" >
 
    <!-- versionCode is Android only -->
    <!-- version is in major.minor.patch format --> 
    <name>Handal App</name>
 
    <description>
      Antam Saja tia
    </description>
 
    <author href="https://YourWebsite.com" email="yourEmail@goesHere.com">
        Name Of The Author
    </author>
 
 <platform name="android">
        <icon src="icon.png"  />
        
    </platform>
	
	
 
</widget>